.details {
    border: 1px black solid;
    border-radius: 3px;
    width: 50%;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-left: 10px;
}

.warning {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-floating {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.invalid-feedback {
    text-align: left;
}