<div class="col-10 py-5 text-center middle justify-content-center">
    <div *ngIf="errorMessage" class="alert alert-danger warning">
        {{ errorMessage }}
    </div>
    <div  class="details align-center py-4">
        <div class="pt-3">
            <form class="row g-3 px-4 py-3 needs-validation" novalidate [formGroup]="emailForm" #eForm="ngForm">
                <div class="col-md-6 form-floating mb-2">
                    <input type="email" class="form-control" id="email" placeholder="name@gmail.com" formControlName="email" required>
                    <label for="email">Email</label>
                    <div class="invalid-feedback">
                        Email is <strong>required</strong>
                    </div>
                </div>
                <div class="col-6 align-center d-grid">
                    <button type="submit" class="btn btn-primary" (click)="confirmUserEmail()" data-toggle="modal" data-target="#detailsModal">Confirm Email</button>
                </div>
            </form>
            <form *ngIf="userConfirm" class="row g-3 px-4 py-3 needs-validation" novalidate [formGroup]="passwordForm" #pForm="ngForm">
                <div class="col-md-12 form-floating mb-2">
                    <input type="password" class="form-control" id="password" placeholder="Password"
                        formControlName="password" required>
                    <label for="password">Password</label>
                    <div class="invalid-feedback">
                        Password is <strong>required</strong>
                    </div>
                </div>
                <div class="col-md-12 form-floating mb-2">
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password"
                        formControlName="confirmPassword" required>
                    <label for="confirm-password">Confirm Password</label>
                </div>
                <div class="col-7 align-center d-grid">
                    <button type="submit" class="btn btn-primary" (click)="changePassword()" data-toggle="modal"
                        data-target="#passwordModal">Submit</button>

                    <div class="modal fade" id="passwordModal" tabindex="-1" *ngIf="!errorMessage">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Change Password</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Password Changed Successfully!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        (click)="onClickOk()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>