.title-font {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.title-font:hover {
    color: white;
}

.log-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.log-link:hover {
    color: black;
}

.spacer-right {
    flex: 1 1 auto;
}

.name {
    color: white;
}

.align-center {
    margin: auto;
}
