<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 d-none d-lg-block">
            <app-core-sidebar></app-core-sidebar>
        </div>
        <div class="row col-12 d-lg-none">
            <app-core-navbar></app-core-navbar>
        </div>
        <div class="col-lg-10 my-4 center">
            <div class="py-4 heading center">
                <h1>Messages:</h1>
            </div>
            <div *ngFor="let message of messages" class="py-4">
                <div class="message-card pt-5 center">
                    <div class="sender">
                        <span class="">{{message.sender}}</span>
                    </div>
                    <div class="my-4 ms-5">
                        {{message.msgText}}
                    </div>
                    <div class="ms-5 pb-3 reply-btn">
                        <button type="button" class="btn btn-primary">Reply</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
