.form {
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-left: 10px;
}

.forgot {
    text-decoration: none;
    color: black;
}

.forgot:hover {
    color: blue;
}

.warn {
    color: red;
}

.success {
    color: green;
}