/* You can add global styles to this file, and also import other style files */
.center {
    margin: auto;
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}

.middle {
    margin-top: auto;
    margin-bottom: auto;
}
