<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-core-sidebar></app-core-sidebar>
        </div>
        <div class="col-10 my-4 center">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of members">
                    <th scope="row">{{member.id}}</th>
                    <td>{{member.username}}</td>
                    <td>{{member.firstName}}</td>
                    <td>{{member.lastName}}</td>
                    <td>{{member.phone}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

